body{
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: #008cff7a;
    min-width: 100px;
    overflow-x: hidden;
}
#calc{
    width: 600px;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    background: #0a2036f5;
    text-align:center;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
text{
    border: 1px solid;
}
#calc input[type="text"]{
    border:0;
    background:none;
    display:block;
    margin:10px auto;
    text-align: center;
    border:2px solid #1c88e0;
    padding: 14px 10px;
    width: 150px;
    outline: none;
    color:white;
    border-radius:24px;
    transition:0.5s;
}
h1{
    color: white;
}
label{
    color:white;
}
#calc input[type="text"]:focus{
    width:250px;
    border-color:#2ecc71;
}
p{
    color:white;
}
#calc button[type="submit"]{
    border:0;
    background:none;
    display:block;
    margin:20px auto;
    text-align: center;
    border:2px solid #2ecc71;
    padding: 14px 10px;
    width: 250px;
    outline: none;
    color:white;
    border-radius:24px;
}
#calc button[type="submit"]:hover{
    cursor: pointer;
    background-color: #2ecc71;
}
#rtb:hover{
    cursor: pointer;
    background-color: #2ecc71;
}
a:visited{
    color:white;
    text-decoration: none;
}
.navb {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(48, 48, 48);
    opacity: 0.99;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
.navb a{
    display: block;
    padding: 20px 30px;
    font-size: 25px;
    text-decoration: none;
    color: #ccc;
}
.navb a:hover{
    color: #fff;
    transition: 0.4s;
    background-color: rgba(185, 179, 179, 0.664);
}
.navb a.active{
    background-color: rgba(185, 179, 179,0.664);
    color: white;
}
.navb .close{
    position: absolute;
    top: 0;
    right:1px;
    margin-left: 50px;
    font-size: 30px;
}
.slide a{
    color: #fff;
    font-size: 35px;
}
#content{
    padding: 20px;
    transition: margin-left 0.5s;
    overflow: hidden;
    width: 100%;
}
body{ /* Image source: https://aspanational.files.wordpress.com/2011/08/budget.jpg */
    background: url(../pic/tool1.jpg) center;
}